##**SETS**

<span style="font-size:150%;">Sets are unordered bag of unique values. A single set contains values of any immutable data type.</span>

### CREATING SET

In [ ]:
#Directly assigning values to a set

myset = {} # just empty curly braces means an empty set 
myset

{}

In [ ]:
type(myset)

dict

In [1]:
 
myset = set() # Initializing a set
myset = set([]) # Creating a set from a list
myset

set()

In [2]:
type(myset)

set

In [3]:
myset = {1,2} #Directly enter values inside the braces 
myset

{1, 2}

In [5]:
myset = set([1,2,2,2,5]) #Create a set from a list 
myset

{1, 2, 5}

In [6]:
l = [1,2,3,4]
myset = set(l)
print(myset)
for i in myset:
    print(i)

{1, 2, 3, 4}
1
2
3
4

In [7]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [5]:
myset = {1,2,1}

In [6]:
myset

{1, 2}

In [13]:
#a set cannot be made from mutable types - lists for example 
set([1,2,2],[3,4])

TypeError: set expected at most 1 argument, got 2

In [14]:
myset

{1, 2}

### MODIFYING SET - add() and update()

In [8]:
myset.add((5,6)) # similar to list append
myset.update((5,6)) # list extend
myset

{(5, 6), 1, 2, 5, 6}

In [9]:
myset.add(9) #replace ? with the new element
myset

{(5, 6), 1, 2, 5, 6, 9}

In [ ]:
myset.add(?) # replace ? with already existing item in the set
myset

In [ ]:
myset.add((?)) #try Adding a tuple 
myset

In [ ]:
myset.update([5,9]) # update() only works for iterable objects
myset

{1, 2, 3, 4, 5, 9}

In [ ]:
myset.update([?,?]) # update() only works for iterable objects
myset

In [13]:
myset.update({5,19}) #Works for another set also 
myset

{(5, 6), 19, 2, 5, 6, 9}

In [ ]:
myset.update({?,?}) #replace ? with your values 
myset

In [14]:
myset.update({21,22}, ['a','g']) #works for multiple iterable elements also 
myset

{(5, 6), 19, 2, 21, 22, 5, 6, 9, 'a', 'g'}

In [ ]:
myset.update({?,?,?}, [?,?]) #replace ? with your values 
myset

REMOVING ITEMS - discard() and remove()

Both discard() and remove() take a single value as an argument and removes that value from the set. If that value is not present in the set, discard() does nothing but remove() raises a KeyError exception

In [15]:
myset.remove(1) #REmoves the element from the set. Takes individual elements as arguments

KeyError: 1

In [16]:
myset

{(5, 6), 19, 2, 21, 22, 5, 6, 9, 'a', 'g'}

In [17]:
myset.remove('a') #REmoves the element from the set. Takes individual elements as arguments 
myset

{(5, 6), 19, 2, 21, 22, 5, 6, 9, 'g'}

In [21]:
myset.remove((5,6))

In [22]:
myset

{2, 21, 22, 5, 6, 9, 'g'}

In [23]:
myset.discard(19) 
myset

{2, 21, 22, 5, 6, 9, 'g'}

In [ ]:
myset.remove(?)
myset

In [36]:
my_set = set("HelloWorld")
print(my_set)

{'l', 'H', 'o', 'r', 'e', 'W', 'd'}

In [24]:
# initialize my_set
my_set = set("HelloWorld")
print(my_set)

# pop an element at random 
print(my_set.pop())

# pop another element at random 
my_set.pop()
print(my_set)

# clear my_set
my_set.clear()
print(my_set)

{'l', 'H', 'o', 'r', 'e', 'W', 'd'}
l
{'o', 'r', 'e', 'W', 'd'}
set()

In [26]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [29]:
s.pop()

1

In [31]:
s.pop()

2

In [35]:
s

{3, 4, 5}

In [25]:
#Try indexing a set
{1,2}[1]

<>:2: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
<ipython-input-25-a3e9b151132a>:2: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
  {1,2}[1]

TypeError: 'set' object is not subscriptable

Sets do not support indexing . So, indexing a set is not possible

### COMMON SET OPERATIONS - union(), intersection() and difference()

In [37]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b

{2, 4, 5, 9, 11, 12}

In [ ]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [39]:
a-b,b-a

({5, 9}, {11, 12})

In [ ]:
a.difference(b) # Values which exist in a but not in b

{5, 9}

      

union() and intersection() are symmetric methods i.e. to say,

        a.union(b) == b.union(a)
        True
        a.intersection(b) == b.intersection(a)
        True
        a.difference(b) == b.difference(a)
        False

These other built-in data structures in Python are also useful.

Other set operations 
Method 	Description
add() 	Add an element to a set
clear() 	Remove all elements form a set
copy() 	Return a shallow copy of a set
difference() 	Return the difference of two or more sets as a new set
difference_update() 	Remove all elements of another set from this set
discard() 	Remove an element from set if it is a member. (Do nothing if the element is not in set)
intersection() 	Return the intersection of two sets as a new set
intersection_update() 	Update the set with the intersection of itself and another
isdisjoint() 	Return True if two sets have a null intersection
issubset() 	Return True if another set contains this set
issuperset() 	Return True if this set contains another set
pop() 	Remove and return an arbitary set element. Raise KeyError if the set is empty
remove() 	Remove an element from a set. If the element is not a member, raise a KeyError
symmetric_difference() 	Return the symmetric difference of two sets as a new set
symmetric_difference_update() 	Update a set with the symmetric difference of itself and another
union() 	Return the union of sets in a new set
update() 	Update a set with the union of itself and others

### Check if an element is present in a set or not

In [41]:
# initialize my_set
my_set = set("apple")
my_set

{'a', 'e', 'l', 'p'}

In [44]:
# check if 'a' is present
print('a' in my_set)

# check if 'p' is present
print('p' not in my_set)

True
False

Built in functions for set 
all() 	Return True if all elements of the set are true (or if the set is empty).
any() 	Return True if any element of the set is true. If the set is empty, return False.
enumerate() 	Return an enumerate object. It contains the index and value of all the items of set as a pair.
len() 	Return the length (the number of items) in the set.
max() 	Return the largest item in the set.
min() 	Return the smallest item in the set.
sorted() 	Return a new sorted list from elements in the set(does not sort the set itself).
sum() 	Retrun the sum of all elements in the set.

Frozenset is a new class that has the characteristics of a set, but its elements cannot be changed once assigned. While tuples are immutable lists, frozensets are immutable sets.

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

Frozensets can be created using the function frozenset().

In [54]:
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([5,6,3,4])

In [55]:
A

frozenset({1, 2, 3, 4})

In [56]:
print (A.isdisjoint(B)) 

print (A.difference(B))
print  (A | B)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})

In [57]:
 A.add(3) #since it is immutable cannot add any elements

AttributeError: 'frozenset' object has no attribute 'add'

TASK:


You are given two set of integers M and N and you have to print their symmetric difference in ascending order. The first line of input contains value of M followed by M integers, then value of N followed by N integers. Symmetric difference between M and N mean those values which either exist in M or in N but not in both.

Input Format

Value of M followed by M integers, then value of N followed by N integers.

Output Format

Integers in ascending order, one per line.

Sample Input

4
2 4 5 9
4
2 4 11 12

Sample Output

5
9
11
12