##**TUPLES**

Tuples are a data structure just like list(array); the prime difference is that tuples are immutable, which means that once created, you can not modify them.

### Initialise A tuple

In [ ]:
k = tuple()

In [ ]:
k

()

In [ ]:
t = ()
t

()

In [ ]:
#Another way is to simply add the elements directly into the tuple 
l = (1,2) #initialize a tuple

In [ ]:
m = (2,1) #initialize a tuple

In [ ]:
l == m  #Order of occurence is important

False

In [ ]:
#create your  own tuple with different data types 
my_tuple = ()
print(my_tuple)

my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

# tuple can be created without parentheses
# also called tuple packing
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
# it takes a tuple and unpacks it into all the variables given in the declaration
a, b, c = my_tuple
print(a)
print(b)
print(c)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
(3, 4.6, 'dog')
3
4.6
dog

A cool use of tuple we do without realizing is swapping two numbers

a,b = b,a

Here a,b is a tuple and assigns itself values of b,a.

In [ ]:
l = (1,2)
a,b = l
print (a,b)
(a , b )= (b,a)
print (a,b)

1 2
2 1

In [ ]:
# only parentheses is not enough
my_tuple = ("hello")
print(type(my_tuple) , my_tuple)

# need a comma at the end
my_tuple = ("hello",)  
print(type(my_tuple) , my_tuple)

# parentheses is optional
#would be declared a tuple if only a comma is present . Comma is mandatory 
my_tuple = "hello",
print(type(my_tuple) , my_tuple)

<class 'int'> 1
<class 'tuple'> ('hello',)
<class 'tuple'> ('hello',)

### Index a tuple

In [ ]:
#indexing is  the same as lists 
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[-1])

print(my_tuple[-6])

t
p

In [ ]:
my_tuple[1]

'e'

### Slicing  a tuple

In [ ]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
print(my_tuple[1:4])

# elements beginning to 2nd
print(my_tuple[:-7])

# elements 8th to end
print(my_tuple[7:])

# elements beginning to end
print(my_tuple[:])

#elements in reverse
print (my_tuple[::-1])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
('z', 'i', 'm', 'a', 'r', 'g', 'o', 'r', 'p')

In [ ]:
#skipped indices
my_tuple[::2] #start to end with 2 steps

('p', 'o', 'r', 'm', 'z')

In [ ]:
my_tuple[1::3] #1st index to end with 3 steps

('r', 'r', 'i')

This surely restricts us in using them as we cannot add, remove, or assign values. But it gives us advantage in space and time complexities.

### Change a tuple

In [ ]:
l = (1,2)

In [ ]:
l[1] = 3 #a tuple is immutable so cannot change an already declared tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
l[2] =  3

TypeError: 'tuple' object does not support item assignment

In [ ]:
l = ('a',1,2)
l[0] = 'b'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#but , if a mutable element is present inside a tuple, the element can be changed 
l = (1,2,[3,'a'])
l[-1][0] = 'b'
l

(1, 2, ['b', 'a'])

In [ ]:
my_tuple = (4, 2, 3, [6, 5])

# tuples can be reassigned i.e. changed entirely
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
my_tuple = ('p','r','o','g','r','a','m','i','z')
print(my_tuple)

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
# Concatenation with other tuple 
print((1, 2, 3) + (4, 5, 6))
l = l+(1,2)
print (l)

# Repeat
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
(1, 2, ['b', 'a'], 1, 2)
('Repeat', 'Repeat', 'Repeat')

### Deleting a tuple

In [ ]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

# can't delete items since it is immutable 
del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:

#However, can delete entire tuple
del my_tuple
my_tuple #error since no tuple exists after deleting

NameError: name 'my_tuple' is not defined

### Tuple methods

count(x) 	Return the number of items that is equal to x
index(x) 	Return index of first item that is equal to x

In [ ]:
l = (2,2,4,1)
l.count(2) #The number of times the element has occured can be accessed using

2

In [ ]:
my_tuple = ('a','p','p','l','e',)

# Count of the element 
print(my_tuple.count('p'))

# Index of the first occurence of the element 
print(my_tuple.index('l'))

2
3

In [ ]:
#check if element is present in a tuple 
my_tuple = ('a','p','p','l','e',)

# In operation
print('a' in my_tuple)

print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

### Built in functions using tuples

all() 	Return True if all elements of the tuple are true (or if the tuple is empty).
any() 	Return True if any element of the tuple is true. If the tuple is empty, return False.
enumerate() 	Return an enumerate object. It contains the index and value of all the items of tuple as pairs.
len() 	Return the length (the number of items) in the tuple.
max() 	Return the largest item in the tuple.
min() 	Return the smallest item in the tuple
sorted() 	Take elements in the tuple and return a new sorted list (does not sort the tuple itself).
sum() 	Retrun the sum of all elements in the tuple.
tuple() 	Convert an iterable (list, string, set, dictionary) to a tuple.

In [ ]:
l = (1,2,3)

In [ ]:
sum(l)

6

In [ ]:
sorted(l,reverse=True)

[3, 2, 1]

In [ ]:
min(l) , max(l)

(1, 3)

Another awesome use of tuples is that they can be used as keys in a dictionary; in other words, tuples are hashable.

In [ ]:
d = {}

In [ ]:
d[l] = 1

In [ ]:
l

(1, 2, 3)

In [ ]:
d

{(1, 2, 3): 1}

##**Task**

You are given an integer N in one line. The next line contains N space-separated integers. Create a tuple of those N integers. Lets call it T.
Compute hash(T) and print it.

Note hash() is one of the function in __builtins__ module.

**Input Format**

The first line contains N. The next line contains N space-separated integer values.

**Output Format**

Print the computed value.

**Sample Input**

2
1 2

**Sample Output**

3713081631934410656