# "Hello world" in Python!

When programmers are learning a new language, we tend to write a one-line program that prints some version of the message "Hello world!" this is a simple program that shows whether your computer is properly set up to run Python programs.

In [ ]:
print('Hello Python world!')

If it works, congratulations! You just ran your first Python program.

#### Hello World - variable

- Store your own version of the message "Hello World" in a variable, and print it.

#### One Variable, Two Messages:
- Store a message in a variable, and then print that message.
- Store a new message in the same variable, and then print that new message.

#### Someone Said
- Find a quote that you like. Store the quote in a variable, with an appropriate introduction such as "Ken Thompson once said, 'One of my most productive days was throwing away 1000 lines of code'". Print the quote.

#### First Name Cases
- Store your first name, in lowercase, in a variable.

- Using that one variable, print your name in lowercase, Titlecase, and UPPERCASE.

#### Full Name
- Store your first name and last name in separate variables, and then combine them to print out your full name.

- Store your first name in a variable, but include at least two kinds of whitespace on each side of your name.
- Print your name as it is stored.

- Print your name with whitespace stripped from the left side, then from the right side, then from both sides.

#### Arithmetic
- Write a program that prints out the results of at least one calculation for each of the basic operations: addition, subtraction, multiplication, division, and exponents.

#### Order of Operations
- Find a calculation whose result depends on the order of operations. (Ex - *2/3.0+24-23%25*)
- Print the result of this calculation using the standard order of operations.

#### First Comments
- Nothing much to do here, Just write at least one comment in the next cell :p

In [ ]:
string = 'LEGO Batch 2018'


- Print the above string using centre() function like this :

-------------------------------LEGO Batch 2018-------------------------------

- Check the string if its ending with 'batch'

In [ ]:
tab = 'Tab\tSpace'

- Expand the string 'tab' by changing the \t to a tab space

In [ ]:
l = [1,2,3,4,5,6,7,8]

- Print the even postions from the list

In [ ]:
s = 'LEGO Batch 2018'

- Store each char of the string 's' onto a list

- Replace the 3rd letter in the string to its lower case

 - Insert 't' in the 3rd position

- Now delete the 3rd letter

- Insert the letter 'o' after 'B' in the string

- Reverse the String

In [ ]:
#

- Make a list that includes four careers, such as 'analyst','tester','programmer','truck driver' etc.

- Find the index of 'tester' in your list.

- Show wheather 'programmer' career is in your list.

- Add a new career to your list at the last.

- Insert a new career at the beginning of the list.


- Use a loop to show all the careers in your list.

- Print the list by sorting based on the length of the strings.(both Ascending and Descending)

In [ ]:
l = [12,34,2,45,6,6,77,8]

- Print the numbers in increasing order.

- Print the numbers in decreasing order.

- Print the numbers in their original order.

- Pop the last item from the list, and pop any item except the last item.

- Remove one item on the 3rd position, and one item by its value which is 77.

- Store the first ten letters of the alphabet in a list.

- Use a slice to print out the first three letters of the alphabet.

- Use a slice to print out any three letters from the middle of your list.

- Use a slice to print out the letters from any point in the middle of your list, to the end.

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

- Find the maximum,minimum and sum of ages from the list

- Make a list of the first ten multiples of ten (10, 20, 30... 90, 100).

- Make a list of the first ten cubes (1, 8, 27... 1000) using a list comprehension, and print them out.

- Store 'LEGO Batch 2018' in a variable. Use a for loop to print each character from your sentence on a separate line.

- Print out the first 3 characters, any middle 2 consecutive characters, and the last 3 characters of each word in the sentence.

In [ ]:
s = 'Its Python Python python PYTHON Python'

- Show where the word *Python* first appears in the sentence.

- Show the last place *Python* appears in the sentence.

- Show how many times the word *Python* appears in your sentence.

- Break your sentence into a list of words. Print the raw list, and use a loop to print each word on its own line.

- Change *Python* to *Ruby* in your sentence.

#### Gymnast Scores
- A gymnast can earn a score between 1 and 10 from each judge; nothing lower, nothing higher. All scores are integer values; there are no decimal scores from a single judge.
- Store the possible scores a gymnast can earn from one judge in a tuple.
- Print out the sentence, "The lowest possible score is \_\_\_, and the highest possible score is \_\_\_." Use the values from your tuple.
- Print out a series of sentences, "A judge can give a gymnast ___ points."

#### Pet Names
- Create a dictionary to hold information about pets. Each key is an animal's name, and each value is the kind of animal.
    - For example, 'Willie': 'dog'
- Put at least 3 key-value pairs in your dictionary.

- Use a for loop to print out a series of statements such as "Willie is a dog."

- Modify one of the values in your dictionary. You could clarify to name a breed, or you could change an animal from a cat to a dog.

- Add a new key-value pair to your dictionary. (*Max : Parrot*)

- Remove one of the key-value pairs from your dictionary.

#### <a name='exercise_mountain_heights'></a>Mountain Heights
- Wikipedia has a list of the [tallest mountains in the world](http://en.wikipedia.org/wiki/List_of_mountains_by_elevation), with each mountain's elevation. Pick five mountains from this list.
    - Create a dictionary with the mountain names as keys, and the elevations as values.

- Print out just the mountains' names, by looping through the keys of your dictionary.

- Print out just the mountains' elevations, by looping through the values of your dictionary.

- Get the details of a specific mountain alone, say if its Everest then print "Everest is 8848 meters tall."

- The list of [tallest mountains in the world](http://en.wikipedia.org/wiki/List_of_mountains_by_elevation) provided all elevations in meters. Convert each of these elevations to feet, given that a meter is approximately 3.28 feet. You can do these calculations by hand at this point.

- Create a new dictionary, where the keys of the dictionary are still the mountains' names. This time however, the values of the dictionary should be a list of each mountain's elevation in meters, and then in feet: {'everest': [8848, 29029]}

- Print out just the mountains' elevations in meters, by looping through the values of your dictionary and pulling out the first number from each list.

- Print out just the mountains' elevations in feet, by looping through the values of your dictionary and pulling out the second number from each list.

- Sort the dictionary based on the mountaian name

- Create a new dictionary, where the keys of the dictionary are once again the mountains' names. This time, the values of the dictionary are another dictionary. This dictionary should contain the elevation in either meters or feet, and the range that contains the mountain. For example: {'everest': {'elevation': 8848, 'range': 'himalaya'}}.

- Print out a series of statements that say everything you know about each mountain: "Everest is an 8848-meter tall mountain in the Himalaya range."

- Make a list of names that includes at least four people.
    - If there are more than 5 people, a message is printed about there being a mob in the room.
    - If there are 3-5 people, a message is printed about the room being crowded.
    - If there are 1 or 2 people, a message is printed about the room not being crowded.
    - If there are no people in the room, a message is printed abou the room being empty.

- Write a while loop which every time accepts 1 or 0, if the user inputs as 1, then go back in the loop by printing the count of iterations of the loop, if 0 exit from the loop saying 'exit' and if its any other input throw an Error message go back again in the loop

#### Addition Calculator
- Write a function that takes in two numbers, and adds them together. Make your function print out a sentence showing the two numbers, and the result.
- Call your function with three different sets of numbers.

- Write a Lambda function for the above operation

- Sort the below dictionary based on the values

In [ ]:
mydict = {'carl':40,
          'alan':2,
          'bob':1,
          'danny':3}