In [1]:
1.Create dataframe from the API_Response dictionary (considering this a json input)

2. in that dataframe, all the keys of each dictionary will be the columns and values of each keys are the row values

3. now just filter out the required columns(keys) viz. synonyms for all the variations and name for the company names

SyntaxError: invalid syntax (<ipython-input-1-2f46b7511ad6>, line 1)

In [2]:
import numpy as np
import pandas as pd
API_Response = {"ID1":{"acquisitions":[],"be":["Security"],"duns_num":["943069856"],"email_domain":["bridgei2i.com"],
                "id":"5eb9be69c50c3cfb74bb64d5","is_partner":"false","name":"BRIDGEi2i","partner_be_id":"","stock_ticker":[""],
                "synonyms":["Bi2i", "BRIDGEi2i","BRIDGEi2i Analytics","BRIDGEi2i Analytics Pvt Ltd"],
                "update_date":"2020-06-16T03:19:00Z","docid":"5eb9be69c50c3cfb74bb64d5","tracktimestamp":"2021-06-11T21:46:20.688Z",
                "source":"abc","repository":"CDC","component":"abc","action":"ADD","mimetype":"text/html","tikaparsingneeded":"false"},
                "ID2":{"acquisitions":[],"be":["Security"],"duns_num":["943069856"],"email_domain":["bridgei2i.com"],"id":"5eb9be69c50c3cfb74bb64d5",
                "is_partner":"false","name":"Google","partner_be_id":"","stock_ticker":[""],"synonyms":["G", "GIndia"],
                "update_date":"2020-06-16T03:19:00Z","docid":"5eb9be69c50c3cfb74bb64d5","tracktimestamp":"2021-06-11T21:46:20.688Z",
                "source":"abc","repository":"CDC","component":"abc","action":"ADD","mimetype":"text/html","tikaparsingneeded":"false"}}

In [3]:
Z=pd.DataFrame.from_dict(API_Response, orient='index')
Z

,acquisitions,be,duns_num,email_domain,id,is_partner,name,partner_be_id,stock_ticker,synonyms,update_date,docid,tracktimestamp,source,repository,component,action,mimetype,tikaparsingneeded
ID1,[],[Security],[943069856],[bridgei2i.com],5eb9be69c50c3cfb74bb64d5,false,BRIDGEi2i,,[],"[Bi2i, BRIDGEi2i, BRIDGEi2i Analytics, BRIDGEi...",2020-06-16T03:19:00Z,5eb9be69c50c3cfb74bb64d5,2021-06-11T21:46:20.688Z,abc,CDC,abc,ADD,text/html,false
ID2,[],[Security],[943069856],[bridgei2i.com],5eb9be69c50c3cfb74bb64d5,false,Google,,[],"[G, GIndia]",2020-06-16T03:19:00Z,5eb9be69c50c3cfb74bb64d5,2021-06-11T21:46:20.688Z,abc,CDC,abc,ADD,text/html,false

In [4]:
df=pd.DataFrame()
df['variations']= Z['synonyms']
df['ID']= Z['name']

In [5]:
df

                                            variations         ID
ID1  [Bi2i, BRIDGEi2i, BRIDGEi2i Analytics, BRIDGEi...  BRIDGEi2i
ID2                                        [G, GIndia]     Google

In [6]:
df.reset_index(inplace=True)

In [7]:
df

  index                                         variations         ID
0   ID1  [Bi2i, BRIDGEi2i, BRIDGEi2i Analytics, BRIDGEi...  BRIDGEi2i
1   ID2                                        [G, GIndia]     Google

In [8]:
df.drop('index',axis=1,inplace=True)

In [9]:
df

                                          variations         ID
0  [Bi2i, BRIDGEi2i, BRIDGEi2i Analytics, BRIDGEi...  BRIDGEi2i
1                                        [G, GIndia]     Google

In [10]:
df1=df.copy()

In [11]:
def get_synonyms(name,var):
    if name in var:
        print(var)
        #return var
    else:
        var1=var.append(name)
        print (var1)
        #return(var)
    


#df1['Final'] = df1[['ID','variations']].apply(lambda x : get_synonyms(x[0],x[1]),axis=1)
df1[['ID','variations']].apply(lambda x : get_synonyms(x[0],x[1]),axis=1)

['Bi2i', 'BRIDGEi2i', 'BRIDGEi2i Analytics', 'BRIDGEi2i Analytics Pvt Ltd']
None

0    None
1    None
dtype: object

In [12]:
df1

                                          variations         ID
0  [Bi2i, BRIDGEi2i, BRIDGEi2i Analytics, BRIDGEi...  BRIDGEi2i
1                                [G, GIndia, Google]     Google